*,
input,
textarea,
button {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

p {
  letter-spacing: 1px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/************************************************************
HEADER
*************************************************************/

.navbar {
  display: flex;
  position: fixed;
  overflow: hidden;
  height: 40px;
  padding: 16px 16px;
  align-items: center;
  
}

#main {
  margin: 0 auto;
}

#main a {
  color: black;
}

.background {
  background: linear-gradient(0deg, #fff, transparent 40%),
              #333333 url('../img/sophie.jpg')  no-repeat center;
  background-size: cover;
  padding-bottom: 50%;
  margin-bottom: 30px;
}

.intro {
  background: white;
  opacity: 0.65;
  line-height: 40px;
  letter-spacing: 4px;
  padding: 20px;
  margin: 0 15% 15%;
}

/************************************************************
SIDE NAV
*************************************************************/

svg {
  padding-top: 3px;
  transition: 1s;
/*
  border: 1px solid black;
  border-radius: 50%;
*/
}

svg:hover {
  opacity: 0.3;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.9;
  overflow-x: hidden;
  text-align: center;
  transition: 0.5s;
  padding-top: 90px;
}

.side-nav a,
.btn-close {
  display: block;
  font-weight: 400;
  color: white;
  padding: 15px;
  transition: 1s;
}

.side-nav a:hover,
.btn-close:hover {
  background: white;
  color: black;
  font-weight: 400;
  cursor: pointer;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}



/************************************************************
MAIN
*************************************************************/

main {
  margin-bottom: 0
}

.about-me {
  margin-bottom: 40px;
}

.about-me h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.about-me h2,
.about-me p {
  font-family: 'Indie Flower';
  margin-left: 10%;
  margin-right: 10%;
}

.about-me p {
  font-weight: 300;
  margin-bottom: 0px;
}



/************************************************************
PORTFOLIO
*************************************************************/

.portfolio1,
.portfolio2,
.portfolio3,
.portfolio4 {
  text-align: center;
  padding: 10px 0 0px;
}

.portfolio1 {
  background: #DCEAF5;
}

.portfolio2 {
  background: red;
}

.portfolio3 {
  background: black;
}

.portfolio4 {
  background: yellow;
}

/*
.portfolio h2 {
  color: black;
  margin-bottom: 40px;
}
*/

.portfolio1 img,
.portfolio2 img,
.portfolio3 img,
.portfolio4 img {
  width: 20%;
  padding: 3px;
  transition: 1s;
  margin-bottom: 10px;
  transform: rotate(5deg);
}

.portfolio1 img:hover,
.portfolio2 img:hover,
.portfolio3 img:hover,
.portfolio4 img:hover {
  opacity: 0.6;
}

/************************************************************
RESUME
*************************************************************/

/* #DCEAF5 #659EB8 */

.resume {
  display: flex;
  background: #969DA3;
  padding: 10%;
}

.resume a {
  display: block;
  background: #DCEAF5;
  color: black;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  padding: 7%;
  border-radius: 5px;
  transition: 0.5s;
}

.resume a:hover {
  opacity: 0.6;
}


/************************************************************
CONTACT
*************************************************************/

.contact-form {
  background: #cc8c33;
  height: 500px;
  padding: 20% 10%;
}

fieldset {
  border: 0;
}

legend {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: white;
}

label {
  display: block;
  color: white;
  margin-bottom: 10px;
}

input,
textarea {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}

input:focus,
textarea:focus {
  border: 2px solid #969DA3;
  outline: none;
}

input {
  border-style: none;
  width: 100%;
  border: 2px solid #cc8c33;
  margin-bottom: 10px;
  transition: 0.5s;
}

::placeholder {
  text-align: right;
  font-style: italic;
  font-size: 0.7rem;
  padding-right: 1px;
}

/* Textarea styling */

textarea {
  height: 110px;
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid #cc8c33;
}

/* Button styling */

button {
  border: none;
  background: lightblue;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  transition: 0.5s;
}

button:hover {
  background: #DCEAF5;
  color: black;
}

/************************************************************
SOCIAL
*************************************************************/

footer {
  display: flex;
  background: lightblue;
  color: white;
  height: 500px;
  padding-left: 10%;
  padding-right: 10%;
}

footer p {
  font-size: 1.2rem;
  font-family: 'Indie Flower', sans-serif;
  text-align: center;
  margin: auto;
}

footer q {
  font-size: 2em;
  font-family: 'Dancing Script', sans-serif;
}

/*Indie+Flower|Pacifico*/

/*font-family: 'Lato', sans-serif;*/





















